*
{
    margin: 0%;
    padding: 0;
}

body{
    font-family: sans-serif;
}
.cabeçalho {
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 29px 0;
}
